/* Don't change anything here! */

* {
    margin: 0;
    box-sizing: border-box;
}

/* for every direct child of header and main */
:is(header, main) > *,
/* and footer */
footer {
    outline: 1px solid red;
    width: 960px;
    margin-inline: auto;
}

/* Nav and hero select section ========================== */
/* Prefix all CSS rules with nav or #hero-section ! */

nav {
    color: red;
}

#hero-section {
    color:blue;
}

/* Our story section ========================== */
/* Prefix all CSS rules with #our_story-section ! */

#our_story-section {
    color:green;
}

/* Watch section ========================== */
/* Prefix all CSS rules with #watch-section ! */

#watch-section {
    color: darkred;
}

/* Expertise section ========================== */
/* Prefix all CSS rules with #expertise-section ! */

#expertise-section {
    color: fuchsia;
}

/* Team section ========================== */
/* Prefix all CSS rules with #team-section ! */

#team-section {
    color: yellowgreen;
}

#team-section .team-text {
    text-align: center;
    color: white;
}

.white {
    background-color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 300px 100px;
    padding: 10px;
    column-gap: 20px;
    
}

.grid-item {
    border: 1px solid green;
    padding: 50px;
}

.middle-text {
    text-align: center;
}

.footer-grid {
display: grid; 
grid-template-columns: auto auto auto;
} 

/* Contact client section ========================== */
/* Prefix all CSS rules with #contact_client-section ! */

#contact_client-section {
    color: lightsalmon;
}

/* footer ========================== */
/* Prefix all CSS rules with footer ! */

footer {
    color: blueviolet;
}

/*********